@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
    --color-dark: #11191D;
    --color-primary: #F5F2EC;
    --color-success: #A6EFB2;
    --color-success-dark: #4F8965;
}

* {
    font-family: "Inter", sans-serif;
}

body {
    @apply bg-dark text-dark;
}

h1,
h2,
h3,
h4,
h5,
strong {
    @apply font-bold;
}

button {
    @apply cursor-pointer;
}


.router-link-active,
.router-link-exact-active {
    @apply text-dark bg-primary;
}